.subtitulo_subir{
    margin-left: 20px;
    text-align: left;
    font-size: 30px;
    color: #8e3d60;
    font-family: 'Overlock', cursive;
    font-size: 50px;
    
}

form{
    width: 50%;
    margin: 10px 30px;
}

.cantidad{
    width:40px;
    height: 30px;
    margin-bottom: 10px; 
}

.medida{
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
}

.ingr{
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
}